<!doctype html>
<html>

<head>
<meta http-equiv="KD-LIST" content="text/html; charset=utf-8">
<title> СПИСОК КД </title>
</head>

<body>

{% if user.is_authenticated %}
    <a href="{% url 'kd_new' %}">Добавить новый кд</a>
    
   <p>Привет, <a href="profile/">{{ user.username }}</a><small>
<a href="{% url 'logout' %}">(Log out)</a>
{% endif %}
<br>
{% if not user.is_authenticated %}


   Уже есть личный аккаунт? -> <a href="{% url 'login' %}">Войти на сайт</a>
   Впервые на сайте? -> <a href="{% url 'register' %}">Зарегистрироваться</a>
{% endif %}



{% if user.is_superuser%} 
<table border="1">
   <caption>Таблица проблемных кд</caption>

   <tr>
    <th>Дата публикации</th>
    <th>Автор</th>
    <th>Заголовок</th>
    <th>Номер кд</th>
<th>Состояние</th>
   </tr>
{% for kd in kd_l %}
<tr>
<td>{{ kd.created_date }}</td>
<td>{{ kd.author }}</td>
<td> <a href="/kd_list/kd/{{ kd.id }}/"> {{ kd.title }} </a></td>

<td>{{ kd.kd }}</td>
<td>{{ kd.state_kd }}</td>
</tr>
{% endfor %}

{% elif user.is_authenticated%}
 <table border="1">
   <caption>Таблица проблемных кд</caption>

   <tr>
    <th>Дата публикации</th>
    <th>Автор</th>
    <th>Заголовок</th>
    <th>Номер кд</th>
<th>Состояние</th>
   </tr>
{% for kd1 in kd_user %}
<tr>
<td>{{ kd1.created_date }}</td>
<td>{{ kd1.author }}</td>
<td> <a href="/kd_list/kd/{{ kd1.id }}/"> {{ kd1.title }} </a></td>

<td>{{ kd1.kd }}</td>
<td>{{ kd1.state_kd }}</td>
</tr>
{% endfor %}
{% endif %}

</table>

</body>
</html> 
