<!doctype html>
<html>
  <head>
        <title>kd</title>
<meta http-equiv="KD" content="text/html; charset=utf-8">
       
   </head>
<body>

   <table border="1" >
<caption>Твоя личная информация по аккаунту на сайте</caption>
 <thead>
 <tr>
 <th>Your name</th>
 <th>Email</th>
 <th>Last visited</th>
    <th>Login Date</th>
   
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>{{user.username}}</td>
 <td>{{user.email}}</td>
 <td>{{user.last_login}}</td>
    <td>{{user.date_joined}}</td>

 </tr>

 </tbody>
 </table>
           
  </form>
</body>
</html>
